<!--views/frontend/post.ejs-->

<link rel="stylesheet" href="/styles/frontend/post.css" />
<script src="/scripts/setplayer.js"></script>

<section class="Post">
    <div class="main">
        <div class="content">
        <% if(data.item){ %>
            <div class="title"><%= data.item.title %></div>
            <div class="category">
                <%= data.item.categories.toString() %>
            </div>
            <div class="date">
                <%= new Date(data.item.date).toLocaleDateString("it-IT") %>
            </div>
            <div class="post-ad">
                <img src="/images/donate-ad.jpg" />
            </div>
            <% if(data.item.videos){ %>
            <% if((data.item.videos !== '')&&(data.item.videos !== '[]')){ %>
                <div class="video">
                    <div class="screen"></div>
                    <div class="playlist"></div>
                </div>
                <script>
                    const videos = JSON.parse('<%- data.item.videos %>')
                    videos.reverse()
                    
                    let clicked = 0
                    
                    for(let index in videos){
                        let ending = ''
                        if(index == videos.length-1){
                            ending = videos[index].status
                        }

                        let title = videos[index].title
                        
                        let result = '<div id="part'+index+'" class="part" onClick="setScreen(videos['+index+'],'+index+',true)">videoTitle part '+(++index)+' '+ending+'</div>'
                        let html = result.replace("videoTitle", "<%= data.item.title %>")
                        $('.playlist').append(html)
                    }

                    setScreen(videos[0],0,false)
                </script>
            <% } %>
            <% } %>
            <div class="text-content">
                <%- data.item.content %>
            </div>
            <div class="post-ad">
                <img src="/images/front-ad.png" />
            </div>
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                this.page.url = "https://bhj49r.deta.dev/post/<%= data.item.key %>";  
                this.page.identifier = "<%= data.item.key %>"; 
                };
                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://tv-channel-2.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the 
                <a href="https://disqus.com/?ref_noscript">
                    comments powered by Disqus.
                </a>
            </noscript>
        <% } %>
        </div>
        <div class="sidebar"><%- include("./sidebar") %></div>
    </div>
</section>